{% extends "layout.html" %}
{% block body_content %}
<head>
    <title>Flask Music Database EDIT: Home Page</title>
</head>
	<h2> Home </h2>
	<p>Version notes: Aplha phase</p>
	<ul style="list-style-type:disc;">
		<li><b>Version 0.0.0</b>: Additions can now be had in the database.</li>
		<li><b>Version 0.0.1</b>: Searches can now be performed in the database.</li>
		<li><b>Version 0.0.2</b>: Individual entries can now be updated.</li>
		<li><b>Version 0.0.3</b>: Individual entries can now be deleted.</li>
		<li><b>Version 0.0.4</b>: User register formed. Users can now upload their first/last name, password and email.</li>
		<li><b>Version 0.0.5</b>: Minor bug fixes.</li>
		<li><b>Version 0.0.6</b>: Login and update account functions fully operational.</li>
	</ul>

{% endblock body_content %}
